name: Generate Token

on: [workflow_dispatch]

permissions:
  contents: read

jobs:
  generate-token:
    runs-on: ubuntu-latest
    steps:
      - name: techiro release test の GitHub App のToken を生成
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: リポジトリをチェックアウト
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}
